chaostoolkit-lib>=1.1.2
azure-mgmt-compute~=20.0
azure-mgmt-containerservice~=22.0.0
azure-mgmt-rdbms~=10.1
azure-mgmt-network~=21.0.1
azure-mgmt-storage~=21.0.0
azure-mgmt-resourcegraph~=8.0
azure-mgmt-web~=3.0
azure-mgmt-netapp~=9.0.1
azure-identity~=1.6
dateparser
logzero
requests
msrestazure~=0.6
pg8000
azure-keyvault-secrets